.hero {
    height: 140vh;
    width: 100%;
}
.herotext, .heroimage {
    margin-top: 60px;
}
.heroimage {
    margin-top: 100px;
}
.img-fluid {
    margin-top: 20px;
    /* height: 100vh;
    width: auto; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 20px;
}
.akancards {
    margin-left: 20px;
}
.akancard1 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.akancard2 {
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.akancard1:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.04);
}
.akancard2:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.04);
}