.hero {
    height: 140vh;
    width: 100%;
}
.herotext, .heroimage {
    margin-top: 60px;
}
.heroimage {
    margin-top: 100px;
}
.logoakan {
    border-radius: 10px;
}
.img-fluid {
    margin-top: 20px;
    /* height: 100vh;
    width: auto; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 20px;
}
.img-fluid:hover {
    transition: 0.9s ease-in-out;
    
}
.akancards {
    margin-left: 20px;
}
.akancard1 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.akancard2 {
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.akancard1:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.04);
}
.akancard2:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.04);
}
.akansection {
    height: 140vh;
    width: 100%;
}
.form-group {
    height: 80vh;
    width: 40vw;
    border-radius: 20px;
    background: rgb(191,160,183);
background: linear-gradient(90deg, rgba(191,160,183,0.35898109243697474) 0%, rgba(166,197,245,0.26094187675070024) 100%);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.form-control {
    width: 35vw;
}


@media only screen and (max-width: 680px) {
   .hero{
      height: 240vh;
    }
    .form-group {
        height: 80vh;
        width: 80vw;
        margin-top: 500px;
        border-radius: 20px;
        background: rgb(191,160,183);
    background: linear-gradient(90deg, rgba(191,160,183,0.35898109243697474) 0%, rgba(166,197,245,0.26094187675070024) 100%);
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .akansection {
        height: 250vh;
        width: 100%;
    }
    .form-control {
        width: 65vw;
    }
    .akancard2 {
        margin-top: 20px;
        margin-right: 15px;
    }
    
  }